__pycache__/
.vscode/
.idea/
.venv/
*.pyc
experiments/
SASP/db.sqlite3
SASP/sasp/wikitext/*
SASP/config/config.ini
SASP/config/keys.ini
SASP/sasp/wiki_forms/cache.json
SASP/sasp/live_trying_things.ipynb
SASP/sasp/sharing_kafka/kafka_experiments.py
SASP/sasp/sharing_kafka/ca/*
SASP/sasp/sharing_kafka/sappan/*
SASP/sasp/sharing_kafka/trust/*
SASP/sasp/misp_sharing_tool/NOKI_Reporting_Definition.json
SASP/config/kafka/certs/*
mediawiki/pymediawikidocker/dockerbuild/*
!mediawiki/pymediawikidocker/dockerbuild/.gitkeep
!SASP/sasp/wikitext/.gitkeep
node_modules/
