{% comment %}
    Call this template using include tag and with statement passing the context key
    that contains information about the table to be rendered.
    Example:
        {% include 'table.html' with table=table %}

{% endcomment %}
<table class="{{ table.class }}" id="{{ table.id }}">
    {% if table.caption %}
        <caption>{{ table.caption }}</caption>
    {% endif %}
    {% if table.thead %}
        <thead>
            <tr class="{{ table.thead.class}}" id="{{ table.thead.id }}">
                {% for column in table.thead.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
    {% endif %}
    <tbody>
        {% for row in table.rows %}
            <tr class="{{ row.class }}" id="{{ row.id }}">
                {% for cell in row.cells %}
                    <{{cell.tag}} class="{{ cell.class}}" id="{{ cell.id }}">
                    {% if 'href' in cell %}
                        <a href="{{ cell.href }}">{{ cell.content }}</a>
                    {% else %}
                        {{ cell.content }}
                    {% endif %}
                    </{{cell.tag}}>
                        
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    {% if table.tfoot %}
        <tfoot>
            <tr class="{{ table.tfoot.class }}" id="{{ table.tfoot.id }}">
                {% for column in table.tfoot.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </tfoot>
    {% endif %}
</table>