{% extends "base_generic.html" %}

{% block extra_head %}
  {% load static %}
  {{ js_context|json_script:"js-context" }}
  <script src="{% static 'js/scripts/make_table_rows_clickable.js' %}" defer></script>
{% endblock %}


{% block title %}
<title>SASP Capturing Tool</title>
{% endblock %}

{% block content %}
  <h1>SASP Capturing Tool</h1>
  <h2>Playbooks</h2>
  <p>The database has the following records:</p>
  {% comment %} <ul>
    {% for playbook in playbooks %}
      <li>
        <a href="{{ playbook.get_absolute_url }}">{{ playbook.name }}</a>
      </li>
    {% endfor %}    
  </ul> {% endcomment %}
  {% include "components/table.html" with table=table_main %}
{% endblock %}

{% block basic_actions %}
  {% include "components/nav_dropdown.html" with dropdown=dropdown_new %}
{% endblock basic_actions %}