{% extends "base_generic.html" %}

{% block extra_head %}
{% endblock %}


{% block title %}
<title>SASP Capturing Tool</title>
{% endblock %}

{% block sidebar_entries %}  
  <li class="nav-item"><a class="nav-link{% if active == 'Home' %} active{% endif %}" href="{% url 'index' %}"><h5>Home</h5></a></li>
  <li class="nav-item"><a class="nav-link{% if active == 'Overview' %} active{% endif %}" href="{% url 'settings' %}">Overview</a></li>
  <ul class="nav flex-column">
    <h5>Configured Tools</h5>
    {% for tool in active_user.logins.all %}
      {% if active == tool.name %}
        <li class="nav-item"><a class="nav-link active">{{ tool.label }}</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'settings-logins' tool.name %}">{{ tool.label }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}
  <div class="container mt-3">
  {% block errors %}
    {% if errors %}
      <div class="row">
        <div class="alert alert-danger" role="alert">
          {% for error in errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endblock %}
  {% block base_content %}{% endblock %}  
  </div>
{% endblock %}